<div class="test">
    <h2 mat-dialog-title>{{ pokemon.getID() }} {{ pokemon.getName() | uppercase }}</h2>

    <mat-dialog-content>
    <img height="400px" width="400px" src="{{ pokemon.getPokemonPortraitUrl() }}" alt="">
      <div>
          Height : {{ pokemon.weight }}<br>
          Weight : {{ pokemon.height }}<br><br>
          Types
          <p *ngFor="let type of pokemon.getType()">
            {{ type | uppercase }}
          </p>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Close</button>
    </mat-dialog-actions>
</div>

